{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecom</title>

    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/main.css' %}">

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
</head>
<body>

    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container">
      <a class="navbar-brand" href="#">Ecom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
          <ul class="navbar-nav ml-2">
            <li class="nav-item active">
                <a class="py-0" href="{% url 'cart' %}"><img class="cart-icon" src="{% static 'store/images/cart.png' %}" alt="cart"></a>
                <p class="cart-quantity">3</p>
            </li>
          </ul>
      </div>
      </div>
    </nav>
    <!-- Navbar end -->

    <!-- main content start -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <!-- main content end -->

    <script src="{% static 'store/js/popper.min.js' %}"></script>
    <script src="{% static 'store/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>