{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="content-box"><form class="p-2">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" id="inputPassword4">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div>

              <button type="submit" class="btn btn-block btn-success">Sign in</button>
            </form></div>

        </div>
        <div class="col-md-6">
            <div class="content-box">

                <div class="row ">
                    <div class="col-md-12">
                        <a class="btn btn-outline-secondary " href="{% url 'cart' %}">&#8592; Back to Cart</a>
                        <hr>
                        <h3 class="mb-3">Order Summary</h3>
                    </div>

                    <div class="col-md-12">
                        <div class="row table-td border-top m-0">
                            <div class="col-3 pl-0">
                                <img class="product-img-size" src="{% static 'store/images/product.png' %}" alt="">
                            </div>
                            <div class="col-3">Mark</div>
                            <div class="col">$20</div>
                            <div class="col">
                                <p>x 3</p>
                            </div>
                        </div>
                        <hr class="mt-0">
                    </div>

                    <div class="col-md-12 ">
                        <h5>Items: 2</h5>
                        <h5>Total: $40</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}