{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <h2>home</h2>

    <div class="row">
        {% for i in list %}
        <div class="col-md-4">
            <div class="card mb-4" style="width: 330px;">
                  <img src="{% static 'store/images/product.png' %}" class="card-img-top" alt="product image">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">Add to cart</a>
                    <a href="#" class="btn btn-outline-success">View</a>
                    <p class="card-price float-right">$238</p>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>






{% endblock content %}